.git
.gitignore
.dockerignore

node_modules
**/node_modules

.next
**/.next
*.tsbuildinfo

.eslintcache
coverage
dist
build
tmp

.env
.env.*
!.env.example

.aiox/local
.aiox/*.log
.synapse/metrics
.synapse/sessions
